<h1> GOWN GEMACH </h1>

<h3> 100 Bathurst St. </h3>
<h3> 416 222 2222 </h3>
<h3> gowngemach@gmail.com </h3> 

<%= link_to "Browse Gowns", gowns_path%>
<div> <%= link_to "Create an Account" %> </div>
<div> <%= link_to "Login" %> </div>
<div> <%= link_to "Logout" %> </div>