<h1> Users </h1>

<% @users.each do |user| %>
    <p>
        <%= link_to <%= user.name %>, edit_user_path %> 
    </p>    
        
    <div> <%= user.email %> </div>
    
    
    <%= link_to "Add New User", new_user_path %>
<% end %>